.env
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
tests/
.vscode/
.idea/
.DS_Store
terraform/
*.tf
*.tfvars
*.tfstate*
.terraform/
.dockerignore
docker-compose.yml
docker-compose.override.yml
*.pem
user_data.sh